<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688807429304-1v4sqt8bc5cngp9r4n1s4mivdao4jvmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688807429304-1v4sqt8bc5cngp9r4n1s4mivdao4jvmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAEhH3Fs7jghoh3VkhbxqmNvHP8iYJ51UY</string>
	<key>GCM_SENDER_ID</key>
	<string>688807429304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodie.app</string>
	<key>PROJECT_ID</key>
	<string>foodyman-single</string>
	<key>STORAGE_BUCKET</key>
	<string>foodyman-single.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688807429304:ios:84b796815e988416e3a04d</string>
</dict>
</plist>